In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
model_13_test_results = pd.read_csv('reuters-csv/test_results_m13.csv', delimiter=',')
model_13_test_results

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,id
0,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",740900
1,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",740901
2,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",740902
3,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",740903
4,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",740904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33137,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(True, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(True, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",600428
33138,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",600429
33139,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",600430
33140,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(True, device='cuda:0')","tensor(False, device='cuda:0')","tensor(True, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",600431
33141,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",...,"tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')","tensor(False, device='cuda:0')",600432

In [11]:
def true_false(input):
    string_input = str(input)
    if 'False' in string_input:
        return 0
    elif 'True' in string_input:
        return 1
    else:
        return input

In [12]:
model_13_test_results2 = model_13_test_results.applymap(lambda x: true_false(x))
model_13_test_results2

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,740900
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,740901
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,740902
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,740903
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,740904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33137,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,600428
33138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600429
33139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600430
33140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,600431
33141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600432

In [14]:
model_13_test_results2 = model_13_test_results2.set_index('id')
model_13_test_results2

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
id,,,,,,,,,,,,,,,,,,,,,
740900,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740901,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740902,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740903,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600428,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0
600429,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
600430,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
600431,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
600432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
model_13_test_results2.to_csv(f'reuters-csv/test_results_m13_formatted.csv', index = False)