###  Reuters corpus topic classification

This project is about topic classification on the Reuters corpus. It is multi-label classification: there can be more than one topics associated with each document.

#### Data

Test data will be extracted from XML-documents, taking input from <headline></headline> and <text></text>, target classes from <codes class = 'bip:topics:1.0'><code code = "topic_i"></code></codes>

input: 'document text string, each row a document'
target: ['topic_1', '...', 'topic_n'] = [0, ...., 1, 0]


There are 126 topics that are listed in the topic_codes.txt.

I will first manually create a small mock data to start model development

In [1]:
import pandas as pd
import numpy as np

In [14]:
topics = pd.read_csv('mock-data/topic_codes.txt', delimiter='\t')
topics

      CODE                         DESCRIPTION
0     1POL             CURRENT NEWS - POLITICS
1     2ECO            CURRENT NEWS - ECONOMICS
2     3SPO                CURRENT NEWS - SPORT
3     4GEN              CURRENT NEWS - GENERAL
4     6INS            CURRENT NEWS - INSURANCE
..     ...                                 ...
121   M142                      METALS TRADING
122   M143                      ENERGY MARKETS
123   MCAT                             MARKETS
124   MEUR                       EURO CURRENCY
125  PRB13  CURRENT NEWS - PRESS RELEASE WIRES

[126 rows x 2 columns]

In [15]:
codes = topics['CODE']
codes

0       1POL
1       2ECO
2       3SPO
3       4GEN
4       6INS
       ...
121     M142
122     M143
123     MCAT
124     MEUR
125    PRB13
Name: CODE, Length: 126, dtype: object

In [56]:
mini_texts = pd.read_csv('mock-data/text_snippets.csv', delimiter=';')
mini_texts

,text,target
0,REUTER EC REPORT LONG-TERM DIARY FOR APR 7 - D...,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,Brascade Resources Inc Q1 shr falls,"[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,U.S. corporate bonds - new issue pricings,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
3,CBES Bancorp Inc Q3 March 31 net rises,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,H&R Block chief financial officer resigns,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
5,General Kinetics consents to delisting,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [59]:
#empty_topic_vec = [0] * 126